@charset "UTF-8";

//按钮基本class
$btnBaseClass:           t-btn !default; // 基本命名

/* ========== btn components ========== */
// 默认按钮
.#{$btnBaseClass} { 
  display: inline-block;
  padding: 6px 14px;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
  border: 1px solid #DDD;
  background: $white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  outline: none;
  color: $blackLight;

  &:hover {
    background: #F9F9F9;
    border-color: $grayLight;
    color: $blackLight;
  }

  &:active {
    background: #EEE;
    border-color: $grayLight;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  }

}

// 多颜色按钮
@mixin btn-color-multi($btnName, $BgColor, $textColor){
  .#{$btnBaseClass}-#{$btnName} { 
    background: $BgColor;
    border-color: darken($BgColor, 5%);
    color: $textColor;

    &:hover {
      background: lighten($BgColor, 5%);
      border-color: $BgColor;
      color: $textColor;
    }

    &:active {
      background: darken($BgColor, 5%);
      border-color: darken($BgColor, 10%);
    }

  }
}

// 蓝色按钮
@include btn-color-multi(blue, $blue, $white);

// 绿色按钮
@include btn-color-multi(green, $green, $white);

// 禁用按钮
.#{$btnBaseClass}-disabled {
  background: #F9F9F9;
  border-color: #E6E6E6;
  color: #AAA;
  cursor: not-allowed;

  &:hover {
    background: #F9F9F9;
    border-color: #E6E6E6;
    color: #AAA;
  }

  &:active {
    box-shadow: none;
  }

}

// 大小  
.#{$btnBaseClass}-sm { 
  padding: 4px 5px;
}

.#{$btnBaseClass}-lg {
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 30px;
  padding: 13px 30px 11px 30px\9;
}

// 链接
.#{$btnBaseClass}-link {
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  outline: none;
  font-size: 12px;
  color: #347AC7;
}
