@charset "UTF-8";

/* 查询表单 */
.jf-form {
  margin-bottom: 20px;

  &.columns-1 {

    .jf-form-item {
      padding-right: 12%;
    }

    li {
      width: 100%;

      & > label {
        width: 28%;
      }

      & > div {
        width: 66%;
      }

    } 
  }

  &.columns-2 {

    .jf-form-item {
      padding-right: 9%;
    }

    li {
      width: 50%;

      & > label {
        width: 35%;
      }

      & > div {
        width: 60%;
      }

      &.width-all {
        
        & > label {
          width: 17.5%;
        }

        & > div {
          width: 80%;
          left: 1%;
        }
      }

    }

  }

  &.columns-3 {

    .jf-form-item {
      padding-right: 6%;
    }

    li {
      width: 33.33%;

      & > label {
        width: 36%;
      }

      & > div {
        width: 58%;
      }

      &.width-all {
        
        & > label {
          width: 12%;
        }

        & > div {
          width: 86%;
          left: 0.666%;
        }
      }

    } 
  }

  &.columns-4 {

    li {
      width: 25%;

      & > label {
        width: 32%;
      }

      & > div {
        width: 62%;
      }
      
      &.width-half {
        
        & > label {
          width: 16%;
        }

        & > div {
          width: 81%;
          left: 1%;
        }
      }
      
      &.width-all {
        
        & > label {
          width: 8%;
        }

        & > div {
          width: 90.5%;
          left: 0.5%;
        }
      }

    } 
  }

}

.jf-form-item {

  li {
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    @include float(left);
    vertical-align: top;

    &.width-half {
      width: 50%;
    }

    &.width-all {
      width: 100%;
      height: auto;
      line-height: 24px;
      padding: 6px 0;

      & > div {
        height: auto;
        top: 0;
      }
    }

    & > label {
      display: block;
      @include float(left);    
      height: 36px;
      line-height: 36px;
      color: #666;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      // 标红
      &.necessary {
        &:before {
          content:"*";
          color: #ff595f;
        }
      }
    }

    & > div {
      display: block;
      @include float(left);
      height: 36px;
      color: #333;
      text-align: left;
      position: relative;
      left: 2%;
      
      // input,select,textarea
      %jf_search_input {
        padding: 3px;
        width: 100%;
        box-sizing: border-box;

        &.warning {
          border: 1px solid #dd808e;
          background: #fff2f4;
          color: #d83030;
        }

        &.success {
          border: 1px solid #8ec73b;
          background: #f7ffeb;
          color: #6ba21c;
        }
      }

      input {
        @extend %jf_search_input;
        height: 26px;
        position: absolute;
        left: 0;
        top: 5px;
        z-index: 2;
        background: transparent;
        border: 1px solid #DDD;
        &[type="checkbox"], &[type="checkbox"], &.check, &.radio {
          border: none;
          padding: auto;
          width: auto;
          height: auto;
          top: 10px;
        }
      }

      select {
        @extend %jf_search_input;
      }

      textarea {
        @extend %jf_search_input;
        border: 1px solid #DDD;
        margin-top: 6px;
        line-height: 22px;
        height: 110px;
        resize: none;

        &.mini-height {
          height: 66px;
        }

        &.long-height {
          height: 176px;
        }
      }

      i {
        position: absolute;
        right: 6px;
        top: 0;
        z-index: 1;
        font-size: 14px;
        color: #999;
      }

      .small_ipt {
        width: 22.5%;
      }

      label {
        input,select,textarea {
          position: static;
          left: auto;
          top: auto;
        }
      }
    }
    
    // 时间组
    &.timegroup {

      & > div > div {
        width: 45%;
        @include float(left);
        input {
          position: static;
        }
      }

      & > div > span {
        display: block;
        height: 36px;
        width: 10%;
        line-height: 36px;
        @include float(left);
        color: #666;
        text-align: center;
      }

      & > div:after {
        @extend %clearfix;
      }

    }

    &:after {
      @extend %clearfix;
    }
    
  }

  &:after {
    @extend %clearfix;
  }
  
}