@charset "utf-8";

//弹出基本class
$popupBaseClass:          t-popup !default; // 基本命名

// popup
$popupHasOverlay:         true !default; // 半透明遮罩
$popupHasBoxshadow:       true !default; // 阴影
$popupTitleStyle:         40px $grayLightest #E8E8E8; // 弹出层标题高度、背景色、底部边线颜色
$popupBottomHeight:       50px; // 弹出层底部高度

$popupLayerOutput:        true !default; // 弹出层
$popupLayerSize:          600px 320px !default; // 弹出层宽度、高度
$popupLayerGap:           10px; // 弹出层上下间距
$popupLayerHaveBottom:    true !default; //底部操作区

$popupAlertOutput:        true !default; // 弹出消息
$popupAlertSize:          380px 200px !default; // 弹出消息宽度、高度

/* ========== popup components ========== */
%popupBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.#{$popupBaseClass} {
	@extend %popupBox;
	z-index: $zindexModal + 10;
}

// 半透明遮罩层
@if $popupHasOverlay {
	.#{$popupBaseClass}-overlay {
		@extend %popupBox;
		z-index: $zindexModal;
		background-color: $black;
		@include opacity();	
	}
}@else {
	.#{$popupBaseClass}-overlay {
		@include hidden;
	}
}

// 包装容器
.#{$popupBaseClass}-container {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: $zindexModal + 5;
	background-color: $white;
	border-radius: $baseRadius;
	// 阴影
	@if $popupHasBoxshadow {
		-webkit-box-shadow: 1px 1px 3px $grayDark;  
		-moz-box-shadow: 1px 1px 3px $grayDark;  
		box-shadow: 1px 1px 3px $grayDark;
	}
}

// 标题
.#{$popupBaseClass}-title { 
	height: nth($popupTitleStyle,1);
	background: #f5f5f5;
	border-bottom: 1px solid #E8E8E8;
	padding: 0 10px 0 15px;
	border-top-left-radius: $baseRadius;
	border-top-right-radius: $baseRadius;

	%titleBox {
    height: nth($popupTitleStyle,1);
		line-height: nth($popupTitleStyle,1);
	}

	h3 {
		@extend %titleBox;
    @include float;
		font-weight: normal;
		color: $blackLight;
		font-size: 14px;
		padding: 0;
		margin: 0;
	}

	a {
		@extend %titleBox;
    @include float(right);
		padding: 0 6px;
		font-size: 16px;
    font-family: 'sans-serif';
		color: $gray;
		text-align: center;
		text-decoration: none;

		&:hover {
			color: $blackLight;
		}
	}
}

// 内容区域
.#{$popupBaseClass}-content { 
	box-sizing: content-box;
	padding: 0 15px;
}

// 底部操作区
.#{$popupBaseClass}-bottom {
	box-sizing: content-box;
	height: $popupBottomHeight;
	text-align: center;
	.t-btn{
		margin-top: 4px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 30px;
		padding-right: 30px;
		outline: none;
	}
}

// 弹出层
@if $popupLayerOutput {
    .#{$popupBaseClass}-layer {

    .#{$popupBaseClass}-container {
      width: nth($popupLayerSize,1);
      height: nth($popupLayerSize,2);
      margin-left: -(nth($popupLayerSize,1) / 2);
      margin-top: -(nth($popupLayerSize,2) / 2);
    }

    %popupBottomBox {
      padding-top: $popupLayerGap;
      padding-bottom: $popupLayerGap;
      font-size: 12px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    // 有底部操作区
    @if $popupLayerHaveBottom {
      .#{$popupBaseClass}-content {
        height: nth($popupLayerSize,2) - nth($popupTitleStyle,1) - ($popupLayerGap * 2) - $popupBottomHeight;
        @extend %popupBottomBox;
      }
    }@else {
      .#{$popupBaseClass}-content {
        height: nth($popupLayerSize,2) - nth($popupTitleStyle,1) - ($popupLayerGap * 2);
        @extend %popupBottomBox;
      }
      .#{$popupBaseClass}-bottom {
        @include hidden;
      }
    }

  }
}

// 弹出消息
@if $popupAlertOutput {
  .#{$popupBaseClass}-alert {
    // 隐藏标题
    .#{$popupBaseClass}-title {
      @include hidden;
    }

    .#{$popupBaseClass}-container {
      width: nth($popupAlertSize,1);
      height: nth($popupAlertSize,2);
      margin-left: -(nth($popupAlertSize,1) / 2);
      margin-top: -(nth($popupAlertSize,2) / 2);
    }

    .#{$popupBaseClass}-content {
      height: nth($popupAlertSize,2) - $popupBottomHeight - 20px;
      margin-top: 20px;
      font-size: 12px;
      text-align: center;

      i {
        font-size: 60px;
        line-height: 1;
        color: lighten($orange, 5%);
      }

      p {
        padding-top: 10px;
        font-size: 12px;
        color: $blackLight;
        line-height: 22px;
      }

    }

    .t-popup-bottom {
      border-top: 1px solid #E8E8E8;
      background: #f5f5f5;
      border-bottom-left-radius: $baseRadius;
      border-bottom-right-radius: $baseRadius;
    }

    .t-btn {
      margin-top: 10px;
    }

  }
}
