@charset "UTF-8";

// table
$tableCaptionOutput:      true !default; // 标题
$tableAppendOutput:       true !default; // 支持样式追加
$trStatusOutput:          true !default; // 整行选中、警告、错误等状态
$norecordOutput:          true !default; // 暂无数据
$tableInfoOutput:         true !default; // 表格信息

/* ========== table components ========== */
.t-table { 
  width: 100%; 
  margin-bottom: 10px; 
  font-size: 12px; 
  border-collapse: collapse; 
  border-spacing: 0;

  @if $tableCaptionOutput {
    & > caption {
      padding: 6px 8px; 
      font-weight: bold; 
      color: $grayDark; 
      line-height: 16px; 
      border-bottom: 1px solid #DDD;
    }
  }

  th, td {
    padding: 8px; 
    border-bottom: 1px solid #DDD;
  }

  th {
    background: #FAFAFA; 
    font-weight: bold; 
    color: $grayDark; 
    border-top: 1px solid #DDD; 
  }

  td {
    line-height: 16px;
  }

  thead {
    th {
      text-align: left;
    }
  }

  tbody {
    & > tr:hover {
      & > td {
        background-color: #e9f5ff;
      }
    }
    
    // 输出行状态
    @if $trStatusOutput {

      & > tr.selected {
        td {
          background-color: #fff5cc;
        }
        &:hover td {
          background-color: #fff5cc;
        }
      }

      & > tr.info {
        td {
          background-color: #d5edf8;
        }
        &:hover td {
          background-color: #bfe4f4;
        }
      }

      & > tr.success {
        td {
          background-color: #e6efc2;
        }
        &:hover td {
          background-color: #deeaae;
        }
      }

      & > tr.error {
        td {
          background-color: #fbe3e4;
        }
        &:hover td {
          background-color: #f8cdce;
        }
      }

      & > tr.warning {
        td {
          background-color: #fff6bf;
        }
        &:hover td {
          background-color: #fff2a6;
        }
      }

    }

  }

  tfoot {
    td {
      border-bottom: none;
    }
  }

}

@if $tableAppendOutput {
  
  // 边线
  .t-table-bordered th, .t-table-bordered td { 
    border: 1px solid #DDD;
  }

  // 斑马线
  .t-table-striped tr:nth-child(2n) { 
    background-color: #f8f8f8;
  }

  // 斑马线 for IE8, 需在页面<table>中隔行定义
  .t-bg-gray { 
    background-color: #f8f8f8;
  }

  // 紧凑
  .t-table-condensed th, .t-table-condensed td { 
    padding: 5px;
  }
  
  // 输出表格信息
  @if $tableInfoOutput {

    /* ========== table-info components ========== */
    .t-table-info {
      & > caption {
        border: 1px solid #DDD;
        border-bottom: none;
        text-align: left;
        background: #f1f5f8;
      }

      th, td {
        padding: 6px 8px;
        border: 1px solid #DDD;
      }

      .td-label { 
        background-color: #f8f8f8;
        text-align: right;
        width: 120px;
        color: $grayDark;
      }

      .td-content { 
        color: $blackLight;
      }

    }
  }
  
}

@if $norecordOutput {
  /* ========== norecord components ========== */
  .t-norecord { 
    text-align: center;
    padding-top: 10px;
    i {
      font-size: 30px;
      line-height: 30px;
      color: #D8D8D8;
    }
    p {
      font-size: 12px;
      margin: 0;
      line-height: 24px;
      color: #999;
    }
  }
}
