@charset "UTF-8";

// tags
$tagOutput:               true !default; // 默认标签
$tagDeleteOutput:         true !default; // 可关闭标签
$tagCategoryOutput:       true !default; // 可选择标签
$tagCategoryLargeOutput:  true !default; // 大号可选择标签
$starsOutput:             true !default; // 星级
$badgeOutput:             true !default; // 徽章

/* ========== tag components ========== */
%tagBox {
  display: inline-block;
  line-height: 1.5;
  padding: 2px 8px;
  border-radius: 3px;
  color: $white;
  font-weight: normal;
  font-size: 12px;
}

// 默认标签
@if $tagOutput {
  .t-tag {
    @extend %tagBox;
    background: lighten($grayDark, 50%);
    color: $grayDark;
  }

  .t-tag-todo {
    @extend %tagBox;
    background: lighten($green, 5%);
  }

  .t-tag-done {
    @extend %tagBox;
    background: lighten($orange, 5%);
  }
}

// 可关闭标签
@if $tagDeleteOutput {
  .t-tag-del {
    @extend %tagBox;
    background: $blue;;
    padding-right:3px;

    a.icon-chahao {
      display: inline-block;
      margin-left:3px;
      padding: 1px 0px 0px 0px;
      font-family: "iconfont" !important;
      font-style: normal;
      text-decoration: none;
      color: $white;
    }
  }
}

// 可选择标签
@if $tagCategoryOutput {
  %tagCategory {
    display: inline-block;
    margin-bottom:5px;
    cursor: pointer;
  }

  %tagCategoryText {
    box-sizing:content-box;
    border:solid 1px #ddd;
    text-align: center;
    color: $blackLight;
  }

  %tagCategorySelected {
    border: solid 1px #ffaa00;
    background-image: url(../imgs/ui-lib-tag.gif);
    background-repeat: no-repeat;
  }

  .t-tag-category {
    @extend %tagCategory;
    p {
      @extend %tagCategoryText;
      line-height: 21px;
      height: 21px;
      font-size: 12px;
      padding: 3px 12px 3px 8px;
    }
    &:hover p {
      @extend %tagCategorySelected;
      background-color: #F8F8F8;
      background-position: right top;
    }
    &.selected p {
      @extend %tagCategorySelected;
      background-color: $white;
      background-position: right -190px;
    }
  }
}

// 大号可选择标签
@if $tagCategoryLargeOutput {
  .t-tag-category-lg {
    @extend %tagCategory;
    p {
      @extend %tagCategoryText;
      line-height: 28px;
      height: 28px;
      font-size:14px;
      padding:3px 14px 3px 10px;
    }
    &:hover p {
      @extend %tagCategorySelected;
      background-color: #F8F8F8;
      background-position: right -666px; 
    }
    &.selected p {
      @extend %tagCategorySelected;
      background-color: $white;
      background-position: right -434px;
    }
  }
}

// 星级
@if $starsOutput {
  /* ========== stars components ========== */
  .t-stars { 
    font-size: 14px;
    @extend %clearfix;
    i {
      @include float;
      color: lighten($orange, 5%);
      &.disabled { 
        color: $grayLight;
      }
    }
  }
}

// 徽章
@if $badgeOutput { 
  /* ========== badge components ========== */
  %badgeBox {
    display: inline-block;
    line-height: 1.5;
    padding: 2px 6px;
    border-radius: 6px;
    color: $white;
    font-weight: normal;
    font-size: 12px;
  }
  .t-badge {
    @extend %badgeBox;
    background: $blue;
  }
  .t-badge-red {
    @extend %badgeBox;
    background: $red;
  }
}
