@charset "UTF-8";

// 包装器设置
// -----------------------------------------------------
// 自适应宽度
$wrapperAutoWidth:        false; // false 固定宽度

// 绝对定位
$wrapperAbsolute:         false !default; // false 不定位

// 头部
$wrapHeader:              40px $blue $blue; // 高度、外部背景色、内部背景色
// 容器
$wrapInnerWidth:          1020px; // 容器内部宽度
$wrapContainerBg:         $white $white; // 容器外部、内部背景色
$innerBoxScroll:          false; // 超出显示滚动条，false 不显示
$fixedBoxScroll:          true; // 固定区域滚动条，false 不显示


// 头部样式输出开关
// -----------------------------------------------------

// header背景图片
$wrapHeaderImgBgOutput:   true; // 输出头部背景图片
$wrapHeaderImgBgUrl:      #010f34 url(../imgs/header-bg01.jpg) no-repeat center top; // 路径、平铺方式


// header动态显隐
$wrapHeaderDynamic:       true; // 仅在流布局使用

// app切换器
$appSwitcherOutput:       false;


// layout, 默认两列 + 右侧自适应
// -----------------------------------------------------
// 列
$layoutRow:               1; // 1, 2, 3

// tab
$tabStyle:                line; // 样式, basic, line
$tabAlignCenter:          true; // 居中

// paging
$pageAlign:               center; // 方向， left, right, center
$pageActiveColor:         $black; // 当前页码背景颜色

// nav-left
$tagsCurrentColor:        $green; // 当前标签颜色
