@charset "UTF-8";

// 包装器设置
// -----------------------------------------------------

// 底部
$wrapHasFooter:           true; // false 不含底部

// 头部样式输出开关
// -----------------------------------------------------

// logo
$headerLogoColor:         $yellow;

// 链接hover状态
$headerHoverDarker:       false; // 背景色加深，false背景色变浅

// layout, 默认两列 + 右侧自适应
// -----------------------------------------------------


// 组件样式
// -----------------------------------------------------

// nav-left
$leftNavStyle:            light01; // 风格, dark01, dark02, light01
$leftNavRight:            number; // 导航菜单右侧提示信息, arrow 箭头; number 数字
$leftNavMenuBorder:       transparent #AAA $orange; // 左侧菜单左边线颜色, 默认; 鼠标上移; 当前


// progress
$progressStriped:         false !default; // 条纹