@charset "UTF-8";

// 包装器设置
// -----------------------------------------------------
// 自适应宽度
$wrapperAutoWidth:        true !default; // false 固定宽度
// 绝对定位
$wrapperAbsolute:         true !default; // false 不定位
// 头部
$wrapHeader:              40px #EEE $blue; // 高度、外部背景色、内部背景色         
// 容器
$wrapInnerWidth:          1276px !default; // 容器内部宽度
$wrapContainerBg:         #EEE #EEE; // 容器外部、内部背景色
$innerBoxScroll:          true !default; // 超出显示滚动条，false 不显示
$fixedBoxScroll:          false !default; // 固定区域滚动条，false 不显示

// 底部
$wrapHasFooter:           false !default; // false 不含底部
$wrapFooter:              30px $blackLight; // 底部高度及背景色


// 头部样式输出开关
// -----------------------------------------------------

// header背景图片
$wrapHeaderImgBgOutput:   false !default; // 输出头部背景图片
$wrapHeaderImgBgUrl:      #010f34 url(../imgs/header-bg01.jpg) no-repeat center top; // 路径、平铺方式
$wrapHeaderImgBgSize:     cover !default; // 大小

// header动态显隐
$wrapHeaderDynamic:       false !default; // 仅在流布局使用

// app切换器
$appSwitcherOutput:       true !default;

// logo
$headerLogoOutput:        true !default;
$headerLogoColor:         $white !default;
$headerImgLogo:           false !default; // 使用图片，默认使用iconfont
$headerImgLogoWidth:      30px !default; // 宽度

// 导航
$headerNavOutput:         true !default;
// 搜索
$headerSearchOutput:      true !default;
// 用户信息
$headerUserOutput:        true !default;
// 链接hover状态
$headerHoverDarker:       true !default; // 背景色加深，false背景色变浅


// 布局 layout
// -----------------------------------------------------
// 列
$layoutRow:               3 !default; // 1, 2, 3
// 自适应方向
$widthAutoSide:           middle !default; // left, right, middle


// 组件样式
// -----------------------------------------------------

// table
$tableCaptionOutput:      false !default; // 标题
$tableAppendOutput:       true !default; // 支持样式追加
$trStatusOutput:          false !default; // 整行选中、警告、错误等状态
$norecordOutput:          false !default; // 暂无数据
$tableInfoOutput:         false !default; // 表格信息

// tab
$tabStyle:                basic !default; // 样式, basic, line
$tabAlignCenter:          false !default; // 居中
$tabBorderRadius:         false !default; // 圆角
$tabSize:                 30px 20px 12px !default; // 高度、左右间距、文字大小
$tabContainerPadding:     10px 0 !default; // 内容区域内边距

// paging
$pageAlign:               right !default; // 方向， left, right, center
$pageActiveColor:         $blue !default; // 当前页码背景颜色
$pageHasBtns:             true !default; // 包含操作按钮
