@charset "UTF-8";

// 包装器设置, 采用frame01.scss
// -----------------------------------------------------
// 左侧区域
$sidebarWidth:            200px; // 左侧宽度
$boxHeight:               190px; // 左侧标题区域高度
$boxBgColor:              #212126; // 左侧标题区域背景颜色
$logoHeight:              100px; // logo区域高度
$textBgColor:             #32323a; // 文字区域背景颜色

// 左侧顶部        
$leftLogoSize:            128px 32px 10px; // logo宽度、高度、距离顶部px
$leftUserOutput:          true; // user        

// 右侧顶部
$rightTitleHeight:        50px; // 顶部标题高度
$rightTitleBg:            $white; // 背景
$rightTitleShadow:        true; // 投影
$rightTitleTextStyle:     dark; // 文字风格, dark, light

// 组件样式
// -----------------------------------------------------

// nav-left
$leftNavStyle:            dark01; // 风格, dark01, dark02, light01
$leftNavHasBigTitle:      false; // 含一级菜单标题
