@charset "UTF-8";

// 包装器设置
// -----------------------------------------------------
// 自适应宽度
$wrapperAutoWidth:      false !default; // false 固定宽度
// 绝对定位
$wrapperAbsolute:       false !default; // false 不定位
// 头部
$wrapHeader:            50px $blue; // 内部高度、背景色
// 容器
$wrapInnerWidth:        1200px !default; // 容器内部宽度
$wrapContainerBg:       $white $white; // 容器外部、内部背景色
$innerBoxScroll:        true !default; // 超出显示滚动条，false 不显示 
// 底部
$wrapperHasFooter:      true !default; // false 不含底部
$wrapFooter:            36px $blackLight; // 底部高度及背景色


// 头部样式输出开关
// -----------------------------------------------------
// app切换器
$appSwitcherOutput:     true !default;

// logo
$headerLogoOutput:      true !default;
$headerLogoColor:       $white !default;
// img logo
$headerImgLogo:         false !default; // 使用图片，默认使用iconfont
$headerImgLogoWidth:    30px !default; // 宽度

// 导航
$headerNavOutput:       true !default;
// 搜索
$headerSearchOutput:    true !default;
// 用户信息
$headerUserOutput:      true !default;
// 链接hover状态
$linkHoverDarker:       true !default; // 背景色变浅，false背景色加深


// 布局 layout
// -----------------------------------------------------
// 列
$layoutRow:             1 !default; // 1, 2, 3
// 自适应方向
$widthAutoSide:         right !default; // left, right, middle


// 组件样式输出开关
// -----------------------------------------------------  
// table
$tableCaptionOutput:      true !default; // 有标题
$tableAppendOutput:       true !default; // 支持样式追加
$trStatusOutput:          true !default; // 整行选中、警告、错误等状态
$norecordOutput:          true !default; // 暂无数据
$tableInfoOutput:         true !default; // 表格信息

// tags
$tagOutput:               true !default; // 标签
$tagDeleteOutput:         true !default; // 可关闭标签
$tagCategoryOutput:       true !default; // 可选择标签
$tagCategoryLargeOutput:  true !default; // 大号可选择标签
$starsOutput:             true !default; // 星级
$badgeOutput:             true !default; // 徽章
$loadingOutput:           true !default; // loading

