@import url(../iconfont/iconfont.css);
.t-logo p, .t-head-nav > li, .t-list-title > h2, .t-list-title > div { display: inline-block; *vertical-align: auto; *display: inline; zoom: 1; }

#t-header, .t-wrap-container, .t-container, .t-layout, .t-columns-group, .t-list-btns, .t-page, .t-stars, .t-tabs .t-tabs-items { *zoom: 1; }

#t-header:before, .t-wrap-container:before, .t-container:before, .t-layout:before, .t-columns-group:before, .t-list-btns:before, .t-page:before, .t-stars:before, .t-tabs .t-tabs-items:before, #t-header:after, .t-wrap-container:after, .t-container:after, .t-layout:after, .t-columns-group:after, .t-list-btns:after, .t-page:after, .t-stars:after, .t-tabs .t-tabs-items:after { content: ""; display: table; }

#t-header:after, .t-wrap-container:after, .t-container:after, .t-layout:after, .t-columns-group:after, .t-list-btns:after, .t-page:after, .t-stars:after, .t-tabs .t-tabs-items:after { clear: both; overflow: hidden; }

.t-head-search input[type="submit"], .t-head-user > ul, .t-app-switcher > ul { display: none !important; visibility: hidden; }

.t-columns-group > li > label { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; }

body { margin: 0; }

a { background: transparent; }

a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

html { overflow-y: auto; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { font-size: 14px; line-height: 1.5; color: #333; background-color: #fff; }

body, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif; }

img { vertical-align: middle; }

textarea { resize: vertical; }

h1, h2, h3, h4, h5, h6, p, figure, form { margin: 0; }

ul, ol, li, dl, dd { margin: 0; padding: 0; }

ul, ol { list-style: none outside none; }

h1, h2, h3 { line-height: 2; font-weight: normal; }

h1 { font-size: 21px; }

h2 { font-size: 18.2px; }

h3 { font-size: 16.38px; }

h4 { font-size: 14px; }

h5, h6 { font-size: 11.9px; text-transform: uppercase; }

a { text-decoration: none; color: #08c; }

a:hover { color: #006699; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #999; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; }

.t-wrapper { width: 100%; }

.t-wrap-header { height: 50px; background-color: #339dd9; background: #010f34 url(../imgs/header-bg01.jpg) no-repeat center top; background-size: cover; }

.t-wrap-header { width: 100%; position: fixed; top: 0; transition: top 0.3s; -moz-transition: top 0.3s; -webkit-transition: top 0.3s; }

.nav-up { top: -50px; }

.t-wrap-container { padding-top: 50px; }

.t-wrap-container { background-color: #fff; }

.t-wrap-footer { display: none !important; visibility: hidden; }

#t-header, #t-container, #t-footer { width: 1020px; margin-left: auto; margin-right: auto; }

#t-container { background-color: #fff; }

/* header */
#t-header { color: #fff; line-height: 50px; }

.t-logo a, .t-head-nav > li a, .t-head-user > a, .t-app-switcher > a { display: block; color: white; cursor: pointer; }

.t-logo a:hover, .t-head-nav > li a:hover, .t-head-user > a:hover, .t-app-switcher > a:hover { background: #1a638c; }

.t-logo { color: #fff; margin: 0 6px; float: left; display: inline; line-height: 50px; }

.t-logo i { font-size: 26px; float: left; display: inline; padding-right: 4px; }

.t-logo p { font-size: 18px; float: left; display: inline; }

.t-logo a { color: #fff; padding: 0 6px; }

.t-head-nav { list-style: none; float: left; display: inline; }

.t-head-nav > li { line-height: 50px; }

.t-head-nav > li i { font-size: 12px; }

.t-head-nav > li a { padding: 0 10px; }

.t-head-search { float: right; display: inline; width: 200px; height: 28px; background: #1e72a1; margin-top: 11px; margin-right: 12px; border-radius: 3px; }

.t-head-search input[type="text"] { float: left; display: inline; border: none; width: 166px; height: 28px; line-height: 28px; padding: 0 6px; color: #fff; outline: none; background: transparent; }

.t-head-search form { position: relative; top: 0; }

.t-head-search form a { position: absolute; right: 0; top: 0; display: block; height: 28px; line-height: 28px; width: 24px; font-size: 14px; text-align: center; color: #b4dbf1; }

.t-head-search form a:hover { color: #dff0f9; }

.t-head-search form a i { font-size: 14px; }

.t-head-user { position: relative; float: right; display: inline; margin-right: 6px; }

.t-head-user > a { height: 50px; padding: 0 6px; }

.t-head-user > a img { float: left; display: inline; width: 24px; height: 24px; border-radius: 12px; margin-top: 13px; margin-right: 6px; }

.t-head-user > a span { float: left; display: inline; font-size: 14px; }

.t-head-user > ul { width: 160px; right: 0; }

.t-head-user > ul li { width: 100%; line-height: 20px; text-indent: 6px; margin-bottom: 1px; border-bottom: 1px solid #E6E6E6; color: #333; }

.t-head-user > ul li:last-child { border-bottom: none; }

.t-head-user > ul li p { padding: 4px 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 95%; }

.t-head-user > ul li p span { color: #666; }

.t-head-user > ul li a { display: block; padding: 4px 6px; background: #fff; color: #5eb2e1; }

.t-head-user > ul li a:hover { color: #fff; background: #339dd9; }

.t-head-user > ul, .t-app-switcher > ul { position: absolute; top: 52px; z-index: 1100; list-style: none; float: left; display: inline; -webkit-box-shadow: 1px 1px 3px #999; box-shadow: 1px 1px 3px #999; text-align: left; border: 1px solid #DDD; background: #fff; }

.t-head-user > ul.show, .t-app-switcher > ul.show { display: block !important; visibility: visible; }

.t-app-switcher { position: relative; width: 50px; height: 50px; float: left; display: inline; margin-left: 6px; text-align: center; }

.t-app-switcher > a { display: block; width: 50px; height: 50px; }

.t-app-switcher > ul { width: 180px; left: 0; }

.t-app-switcher > ul li { width: 100%; line-height: 20px; text-indent: 6px; margin-bottom: 1px; }

.t-app-switcher > ul li a { display: block; padding: 4px 6px; color: #333; }

.t-app-switcher > ul li a:hover { color: #fff; background: #5eb2e1; }

.t-app-switcher > ul li.current a { color: #fff; background: #5eb2e1; }

/* footer */
#t-footer { color: #fff; text-align: center; }

#t-footer p { display: inline-block; *vertical-align: auto; *display: inline; zoom: 1; margin-left: auto; margin-right: auto; line-height: 30px; }

#t-footer a { color: #51B148; text-decoration: none; }

.show { display: block; visibility: visible; }

.hide { display: none; visibility: hidden; }

.fl { float: left; }

.fr { float: right; }

/* layout */
.t-layout { padding: 10px; }

/* ========== table components ========== */
.t-table { width: 100%; margin-bottom: 10px; font-size: 12px; border-collapse: collapse; border-spacing: 0; }

.t-table > caption { padding: 6px 8px; font-weight: bold; color: #666; line-height: 16px; border-bottom: 1px solid #DDD; }

.t-table th, .t-table td { padding: 8px; border-bottom: 1px solid #DDD; }

.t-table th { background: #FAFAFA; font-weight: bold; color: #666; border-top: 1px solid #DDD; }

.t-table td { line-height: 16px; }

.t-table thead th { text-align: left; }

.t-table tbody > tr:hover > td { background-color: #e9f5ff; }

.t-table tbody > tr.selected td { background-color: #fff5cc; }

.t-table tbody > tr.selected:hover td { background-color: #fff5cc; }

.t-table tbody > tr.info td { background-color: #d5edf8; }

.t-table tbody > tr.info:hover td { background-color: #bfe4f4; }

.t-table tbody > tr.success td { background-color: #e6efc2; }

.t-table tbody > tr.success:hover td { background-color: #deeaae; }

.t-table tbody > tr.error td { background-color: #fbe3e4; }

.t-table tbody > tr.error:hover td { background-color: #f8cdce; }

.t-table tbody > tr.warning td { background-color: #fff6bf; }

.t-table tbody > tr.warning:hover td { background-color: #fff2a6; }

.t-table tfoot td { border-bottom: none; }

.t-table-bordered th, .t-table-bordered td { border: 1px solid #DDD; }

.t-table-striped tr:nth-child(2n) { background-color: #f8f8f8; }

.t-bg-gray { background-color: #f8f8f8; }

.t-table-condensed th, .t-table-condensed td { padding: 5px; }

/* ========== table-info components ========== */
.t-table-info > caption { border: 1px solid #DDD; border-bottom: none; text-align: left; background: #f1f5f8; }

.t-table-info th, .t-table-info td { padding: 6px 8px; border: 1px solid #DDD; }

.t-table-info .td-label { background-color: #f8f8f8; text-align: right; width: 120px; color: #666; }

.t-table-info .td-content { color: #333; }

/* ========== norecord components ========== */
.t-norecord { text-align: center; padding-top: 10px; }

.t-norecord i { font-size: 30px; line-height: 30px; color: #D8D8D8; }

.t-norecord p { font-size: 12px; margin: 0; line-height: 24px; color: #999; }

/* ========== list components ========== */
.t-list { background: #fff; }

.t-list-title { height: 40px; line-height: 40px; background: #fff; border-bottom: 4px solid #bdddf2; }

.t-list-title > h2 { margin: 0; padding: 0; font-weight: normal; font-size: 16px; color: #333; }

.t-list-title > div { float: right; display: inline; text-align: right; font-size: 12px; }

.t-list-search { padding: 10px 0; background: #F9F9F9; border: 1px solid #E8E8E8; border-top: 0; margin-bottom: 20px; position: relative; }

.t-list-search-more { position: absolute; bottom: -10px; left: 50%; margin-left: -30px; width: 60px; height: 10px; box-sizing: border-box; background: #F9F9F9; cursor: pointer; border: 1px solid #E8E8E8; border-top: none; text-align: center; font-size: 12px; line-height: 10px; color: #666; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

.t-columns-1 .t-columns-group { padding-right: 12%; }

.t-columns-1 .t-columns-group > li { width: 100%; }

.t-columns-1 .t-columns-group > li > label { width: 28%; }

.t-columns-1 .t-columns-group > li > div { width: 66%; }

.t-columns-2 .t-columns-group { padding-right: 9%; }

.t-columns-2 .t-columns-group > li { width: 50%; }

.t-columns-2 .t-columns-group > li > label { width: 35%; }

.t-columns-2 .t-columns-group > li > div { width: 60%; }

.t-columns-2 .t-columns-group > li.width-all > label { width: 17.5%; }

.t-columns-2 .t-columns-group > li.width-all > div { width: 80%; margin-left: 1%; }

.t-columns-3 .t-columns-group { padding-right: 6%; }

.t-columns-3 .t-columns-group > li { width: 33.33%; }

.t-columns-3 .t-columns-group > li > label { width: 36%; }

.t-columns-3 .t-columns-group > li > div { width: 58%; }

.t-columns-3 .t-columns-group > li.width-all > label { width: 12%; }

.t-columns-3 .t-columns-group > li.width-all > div { width: 86%; margin-left: 0.666%; }

.t-columns-4 .t-columns-group > li { width: 25%; }

.t-columns-4 .t-columns-group > li > label { width: 32%; }

.t-columns-4 .t-columns-group > li > div { width: 62%; }

.t-columns-4 .t-columns-group > li.width-half > label { width: 16%; }

.t-columns-4 .t-columns-group > li.width-half > div { width: 81%; margin-left: 1%; }

.t-columns-4 .t-columns-group > li.width-all > label { width: 8%; }

.t-columns-4 .t-columns-group > li.width-all > div { width: 90.5%; margin-left: 0.5%; }

.t-columns-group { margin: 0; padding: 0; }

.t-columns-group > li { list-style: none; float: left; height: 36px; font-size: 12px; vertical-align: top; }

.t-columns-group > li > label { display: block; float: left; height: 36px; line-height: 36px; color: #666; text-align: right; }

.t-columns-group > li > label.necessary:before { content: "*"; color: #ff595f; }

.t-columns-group > li > div { display: block; float: left; height: 36px; color: #333; text-align: left; margin-left: 2%; }

.t-columns-group > li > div input, .t-columns-group > li > div select, .t-columns-group > li > div textarea { padding: 3px; width: 100%; box-sizing: border-box; border: 1px solid #DDD; }

.t-columns-group > li > div input { height: 26px; line-height: 18px\9; margin-top: 5px; background: #fff; }

.t-columns-group > li > div input[type="checkbox"], .t-columns-group > li > div input[type="radio"], .t-columns-group > li > div input.check, .t-columns-group > li > div input.radio { border: none; width: auto; height: auto; padding: auto; }

.t-columns-group > li > div select { height: 26px; margin-top: 5px; appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; background: #FFF url(../imgs/mini-icons.png) no-repeat right -57px; }

.t-columns-group > li > div select option { line-height: 18px; }

.t-columns-group > li > div textarea { margin-top: 6px; line-height: 22px; resize: none; }

.t-columns-group > li > div .bg-date { background: #FFF url(../imgs/mini-icons.png) no-repeat right 4px; }

.t-columns-group > li > div .bg-tree { background: #FFF url(../imgs/mini-icons.png) no-repeat right -27px; }

.t-columns-group > li > div .bg-select { background: #FFF url(../imgs/mini-icons.png) no-repeat right -57px; }

.t-columns-group > li.width-half { width: 50%; }

.t-columns-group > li.width-all { width: 100%; height: auto; line-height: 24px; padding: 6px 0; }

.t-columns-group > li.width-all > div { height: auto; }

.t-columns-group > li.timegroup > div > div { width: 45%; float: left; }

.t-columns-group > li.timegroup > div > span { display: block; height: 36px; width: 10%; line-height: 36px; float: left; color: #666; text-align: center; }

.t-columns-group > li > div > .t-btn { line-height: 1; margin-top: 4px; }

.t-columns-group li > div input.error, .t-columns-group li > div select.error, .t-columns-group li > div textarea.error { border: 1px solid #dd808e; background: #fff2f4; color: #d83030; }

.t-columns-group li > div input.warning, .t-columns-group li > div select.warning, .t-columns-group li > div textarea.warning { border: 1px solid #dfc48c; background: #fff8d5; color: #ad8032; }

.t-columns-group li > div input.success, .t-columns-group li > div select.success, .t-columns-group li > div textarea.success { border: 1px solid #8ec73b; background: #f7ffeb; color: #6ba21c; }

.t-list-btns { padding: 6px 10px; margin-top: 10px; background: #f1f5f8; border-bottom: 1px solid #e6ecec; vertical-align: middle; }

.t-list-btns p, .t-list-btns span { display: block; float: left; margin: 0; padding: 0; font-size: 12px; line-height: 28px; }

.t-list-btns p { color: #333; }

.t-list-btns span { color: #999; padding-left: 6px; }

.t-list-btns > a { display: block; float: left; width: 28px; height: 28px; padding-left: 10px; line-height: 28px; font-size: 18px; color: #999; text-align: center; text-decoration: none; }

.t-list-btns > a:hover { color: #333; }

.t-list-btns > div { float: right; text-align: left; }

.t-list-btns .t-btn { margin-left: 4px; }

.t-list-result { margin-top: 6px; }

.t-list-result > .t-table th { background: #fff; border-top: none; }

/* ========== btn components ========== */
.t-btn { display: inline-block; padding: 6px 14px; font-size: 12px; line-height: 1; border-radius: 3px; border: 1px solid #DDD; background: #fff; text-decoration: none; cursor: pointer; position: relative; white-space: nowrap; outline: none; color: #333; }

.t-btn:hover { background: #F9F9F9; border-color: #ccc; color: #333; }

.t-btn:active { background: #EEE; border-color: #ccc; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; }

.t-btn-blue { background: #339dd9; border-color: #2690cc; color: #fff; }

.t-btn-blue:hover { background: #48a7dd; border-color: #339dd9; color: #fff; }

.t-btn-blue:active { background: #2690cc; border-color: #2281b7; }

.t-btn-green { background: #51B148; border-color: #499f41; color: #fff; }

.t-btn-green:hover { background: #60bb58; border-color: #51B148; color: #fff; }

.t-btn-green:active { background: #499f41; border-color: #408d39; }

.t-btn-disabled { background: #F9F9F9; border-color: #E6E6E6; color: #AAA; cursor: not-allowed; }

.t-btn-disabled:hover { background: #F9F9F9; border-color: #E6E6E6; color: #AAA; }

.t-btn-disabled:active { box-shadow: none; }

.t-btn-sm { padding: 4px 5px; }

.t-btn-lg { font-size: 14px; border-radius: 5px; padding: 12px 30px; padding: 13px 30px 11px 30px\9; }

.t-btn-link { padding: 0; border: none; text-decoration: none; cursor: pointer; position: relative; white-space: nowrap; outline: none; font-size: 12px; color: #347AC7; }

/* ========== paging components ========== */
.t-page { text-align: right; font-size: 12px; position: relative; }

.t-page > .page-btns { float: left; display: inline; }

.t-page > ul { margin: 0; padding: 0; display: inline-block; *vertical-align: auto; *display: inline; zoom: 1; }

.t-page > ul li { float: left; display: inline; margin: 0 5px; list-style: none; }

.t-page > ul li.active span, .t-page > ul li.disabled span, .t-page > ul li a { float: left; display: inline; padding: 0 8px; height: 24px; line-height: 24px; text-decoration: none; }

.t-page > ul li.active span { background: #339dd9; color: #FFF; border-radius: 3px; border: 1px solid #339dd9; }

.t-page > ul li.disabled span { color: #AAA; }

.t-page > ul li a { border: 1px solid #DDD; border-radius: 3px; color: #666; background: #fff; }

.t-page > ul li a:hover { text-decoration: none; color: #fff; background-color: #339dd9; border: 1px solid #339dd9; }

/* ========== tag components ========== */
.t-tag, .t-tag-todo, .t-tag-done, .t-tag-del { display: inline-block; line-height: 1.5; padding: 2px 8px; border-radius: 3px; color: #fff; font-weight: normal; font-size: 12px; }

.t-tag { background: #e6e6e6; color: #666; }

.t-tag-todo { background: #60bb58; }

.t-tag-done { background: #f5884f; }

.t-tag-del { background: #339dd9; padding-right: 3px; }

.t-tag-del a.icon-chahao { display: inline-block; margin-left: 3px; padding: 1px 0px 0px 0px; font-family: "iconfont" !important; font-style: normal; text-decoration: none; color: #fff; }

.t-tag-category, .t-tag-category-lg { display: inline-block; margin-bottom: 5px; cursor: pointer; }

.t-tag-category p, .t-tag-category-lg p { box-sizing: content-box; border: solid 1px #ddd; text-align: center; color: #333; }

.t-tag-category:hover p, .t-tag-category.selected p, .t-tag-category-lg:hover p, .t-tag-category-lg.selected p { border: solid 1px #ffaa00; background-image: url(../imgs/ui-lib-tag.gif); background-repeat: no-repeat; }

.t-tag-category p { line-height: 21px; height: 21px; font-size: 12px; padding: 3px 12px 3px 8px; }

.t-tag-category:hover p { background-color: #F8F8F8; background-position: right top; }

.t-tag-category.selected p { background-color: #fff; background-position: right -190px; }

.t-tag-category-lg p { line-height: 28px; height: 28px; font-size: 14px; padding: 3px 14px 3px 10px; }

.t-tag-category-lg:hover p { background-color: #F8F8F8; background-position: right -666px; }

.t-tag-category-lg.selected p { background-color: #fff; background-position: right -434px; }

/* ========== stars components ========== */
.t-stars { font-size: 14px; }

.t-stars i { float: left; display: inline; color: #f5884f; }

.t-stars i.disabled { color: #ccc; }

/* ========== badge components ========== */
.t-badge, .t-badge-red { display: inline-block; line-height: 1.5; padding: 2px 6px; border-radius: 6px; color: #fff; font-weight: normal; font-size: 12px; }

.t-badge { background: #339dd9; }

.t-badge-red { background: #cc3300; }

/* t-tabs */
.t-tabs .t-tabs-items { margin: 0; padding: 0; border-bottom: 1px solid #DDD; font-size: 14px; text-align: center; }

.t-tabs .t-tabs-items > li { list-style: none; }

.t-tabs .t-tabs-items > li a { display: block; padding: 0 20px; height: 36px; line-height: 36px; border: 1px solid transparent; color: #666; text-decoration: none; outline: none; transition: background-color .4s ease-out,color .4s ease-out; }

.t-tabs .t-tabs-items > li a:hover, .t-tabs .t-tabs-items > li a:active { background: #fff; color: #333; }

.t-tabs .t-tabs-items > li.active a { background: #fff; color: #333; font-weight: 700; }

.t-tabs .t-tabs-items li { float: left; display: inline; }

.t-tabs .t-tabs-items li { margin-right: 4px; }

.t-tabs .t-tabs-items li a { border-radius: 4px 4px 0 0; }

.t-tabs .t-tabs-items li.active { border-bottom: 2px solid #339dd9; }

.t-tabs .t-tabs-wrap { margin: 0; padding: 10px 0; font-size: 12px; }

.t-tabs .t-tabs-wrap > li { display: none; }

.t-tabs .t-tabs-wrap > li.selected { display: block; }

/* ========== popup components ========== */
.t-popup, .t-popup-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.t-popup { z-index: 1110; }

.t-popup-overlay { z-index: 1100; background-color: #000; opacity: 0.5; filter: alpha(opacity=50); }

.t-popup-container { position: absolute; top: 50%; left: 50%; z-index: 1105; background-color: #fff; border-radius: 5px; -webkit-box-shadow: 1px 1px 3px #666; -moz-box-shadow: 1px 1px 3px #666; box-shadow: 1px 1px 3px #666; }

.t-popup-title { height: 40px; background: #f5f5f5; border-bottom: 1px solid #E8E8E8; padding: 0 10px 0 15px; border-top-left-radius: 5px; border-top-right-radius: 5px; }

.t-popup-title h3, .t-popup-title a { height: 40px; line-height: 40px; }

.t-popup-title h3 { float: left; display: inline; font-weight: normal; color: #333; font-size: 14px; padding: 0; margin: 0; }

.t-popup-title a { float: right; display: inline; padding: 0 6px; font-size: 16px; font-family: 'sans-serif'; color: #999; text-align: center; text-decoration: none; }

.t-popup-title a:hover { color: #333; }

.t-popup-content { box-sizing: content-box; padding: 0 15px; }

.t-popup-bottom { box-sizing: content-box; height: 50px; text-align: center; }

.t-popup-bottom .t-btn { margin-top: 4px; margin-left: 5px; margin-right: 5px; padding-left: 30px; padding-right: 30px; outline: none; }

.t-popup-layer .t-popup-container { width: 600px; height: 320px; margin-left: -300px; margin-top: -160px; }

.t-popup-layer .t-popup-content { padding-top: 10px; padding-bottom: 10px; font-size: 12px; overflow-x: hidden; overflow-y: auto; }

.t-popup-layer .t-popup-content { height: 210px; }

.t-popup-alert .t-popup-title { display: none !important; visibility: hidden; }

.t-popup-alert .t-popup-container { width: 380px; height: 200px; margin-left: -190px; margin-top: -100px; }

.t-popup-alert .t-popup-content { height: 130px; margin-top: 20px; font-size: 12px; text-align: center; }

.t-popup-alert .t-popup-content i { font-size: 60px; line-height: 1; color: #f5884f; }

.t-popup-alert .t-popup-content p { padding-top: 10px; font-size: 12px; color: #333; line-height: 22px; }

.t-popup-alert .t-popup-bottom { border-top: 1px solid #E8E8E8; background: #f5f5f5; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.t-popup-alert .t-btn { margin-top: 10px; }

/* ========== loading components ========== */
.t-loading, .t-loading-cmcc, .t-loading-cmcc-lg { display: inline-block; line-height: 1.5; color: #666; }

.t-loading { font-size: 12px; padding: 8px 20px 8px 40px; background: #fff url(../imgs/loading.gif) no-repeat 10px 4px; }

.t-loading-cmcc { font-size: 12px; padding: 8px 20px 8px 35px; background: #fff url(../imgs/cmcc_loading.gif) no-repeat 12px 8px; }

.t-loading-cmcc-lg { font-size: 14px; padding: 14px 20px 14px 50px; background: #fff url(../imgs/cmcc_loading_lg.gif) no-repeat 12px 8px; }

.t-loading-dot-css3 { color: #51B148; font-size: 14px; }

.t-loading-dot-css3 span { display: inline-block; width: 10px; min-height: 2px; padding-right: 2px; border-left: 2px solid currentColor; border-right: 2px solid currentColor; background-color: currentColor; background-clip: content-box; box-sizing: border-box; -webkit-animation: dot 1s infinite step-start both; animation: dot 1s infinite step-start both; *zoom: expression(this.innerHTML = '...'); /* IE7 */ /* IE8 */ }

.t-loading-dot-css3 span:before { content: '...'; }

.t-loading-dot-css3 span:before { content: ''; }

:root .t-loading-dot-css3 span { margin-left: 2px; padding-left: 2px; /* IE9+ */ }

@-webkit-keyframes dot { 25% { border-color: transparent;
    background-color: transparent; }
  50% { border-right-color: transparent;
    background-color: transparent; }
  75% { border-right-color: transparent; } }

@keyframes dot { 25% { border-color: transparent;
    background-color: transparent; }
  50% { border-right-color: transparent;
    background-color: transparent; }
  75% { border-right-color: transparent; } }
