@charset "UTF-8";

// user
.t-head-user {
  position: relative;
  @include float(right);
  margin-right: 6px;

  & > a {
    @extend %toplink;
    height: nth($wrapHeader,1);
    padding: 0 6px;

    img {
      @include float;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      margin-top: (nth($wrapHeader,1) - 24px) / 2;
      margin-right: 6px;
    }

    span {
      @include float;
      font-size: 14px;
    }

  }

  & > ul {
    @extend %toplayer;
    width: 160px;
    right: 0;

    li {
      width: 100%;
      line-height: 20px;
      text-indent: 6px;
      margin-bottom: 1px;
      border-bottom: 1px solid #E6E6E6;
      color: $blackLight;

      &:last-child {
        border-bottom: none;
      }

      p {
        padding: 4px 6px;
        @include ellipsis(95%);

        span {
          color: $grayDark;
        }
      }

      a {
        display: block;
        padding: 4px 6px;
        background: $white;
        color: lighten(nth($wrapHeader,2), 10%);
        &:hover {
          color: $white;
          background: nth($wrapHeader,2);
        }
      }

    }

  }
}
