@charset "UTF-8";

// 临时样式，DEMO演示使用，项目使用时需删除，有必要时需定制
// -----------------------------------------------------

// lauout
.example-p {
   padding: 10px;
   margin: 0;
   font-size: 12px;
   line-height: 720px;
   background-color: $grayLightest;
}
