@charset "UTF-8";

// 参数设置
// -----------------------------------------------------
$rightSideAuto:         true !default; // true右侧自适应; false左侧自适应
$fixedWidth:            240px !default; // 固定宽度值
$fixedBackground:       $grayLightest !default; // 固定区域背景
$gapWidth:              0 !default; // 间隔宽度值
$innerPadding:          10px !default; // 内间距

// 默认右侧自适应宽度，2列无中间，按默认
@if $widthAutoSide == 'right' or $widthAutoSide == 'middle' {
  $rightSideAuto: true;
}@else {
  $rightSideAuto: false;
}

// 如果不是绝对定位，销毁内部容器滚动条
@if not $wrapperAbsolute {
  $innerBoxScroll: false; 
}

// 自适应模块
@if $rightSideAuto {
  $sideA: left;
  $sideB: right;
}@else {
  $sideA: right;
  $sideB: left;
}

/* layout */

// 公用
%Yscroll {
  overflow-x: hidden;
  overflow-y: auto;
}

%boxAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
}

// 默认，不控制滚动条显示
@if not $innerBoxScroll {
  
  // 清除父级
  .t-wrap-container, .t-container, .t-layout {
    @extend %clearfix;
  }

  .t-layout {

    .t-layout-#{$sideA} {
      position: relative;
      @include float(#{$sideA});
      width: $fixedWidth;
      margin-#{$sideB}: -$fixedWidth;
      background: $fixedBackground;
    }

    .t-layout-#{$sideB} {
      @include float(#{$sideB});
      width: 100%;
      background: $white;
    }

    .t-layout-#{$sideB}inner {
      margin-#{$sideA}: $fixedWidth + $gapWidth;
      padding: $innerPadding;
    }

  }
}

// 绝对定位，内部溢出显示纵向滚动条
@if $wrapperAbsolute and $innerBoxScroll {
  
  .t-wrap-container {
    overflow: hidden;
  }
  
  // 固定宽度
  @if not $wrapperAutoWidth {
    #t-container {
      position: absolute;
      top: 0;
      bottom: 0;
      #{$sideB}: 50%;
      margin-#{$sideB}: -$wrapInnerWidth/2;
    }
  }
  
  // 自适应宽度
  @if $wrapperAutoWidth {
    #t-container {
      position: static;
    }
  }
  
  .t-layout {
    @extend %boxAbsolute;
    width: 100%;

    .t-layout-#{$sideA} {
      @extend %boxAbsolute;
      @extend %Yscroll;
      #{$sideA}: 0;
      width: $fixedWidth;
      background: $fixedBackground;
    }

    .t-layout-#{$sideB} {
      @extend %boxAbsolute;
      #{$sideA}: $fixedWidth + $gapWidth;
      #{$sideB}: 0;
      width: auto;
      background: $white;
    }

    .t-layout-#{$sideB}inner {
      @extend %boxAbsolute;
      @extend %Yscroll;
      #{$sideA}: 0;
      #{$sideB}: 0;
      padding: $innerPadding;
    }

  }

}