@charset "UTF-8";

/* footer */
#t-footer {
  color: $white;
  text-align: center;
  
  p {
    @include inline-block;
    @include center-block;
    line-height: nth($wrapFooter,1);
  }

  a {
    color: $green;
    text-decoration: none;
  }

}