@charset "UTF-8";

/* header */
#t-header {
  color: $white;
  line-height: nth($wrapHeader,1);
  @extend %clearfix;
}

%toplink {
  display: block;
  color: lighten(nth($wrapHeader,2), 60%);
  cursor: pointer;

  @if not $linkHoverDarker {
    &:hover {
      background: lighten(nth($wrapHeader,2), 20%);
    }
    }@else {
    &:hover {
      background: darken(nth($wrapHeader,2), 20%);
    }
  }
  
}

// logo
@if $headerLogoOutput {
  @import "header/header-logo";
}

// nav
@if $headerNavOutput {
  @import "header/header-nav";
}

// search
@if $headerSearchOutput {
  @import "header/header-search"; 
}

// user
@if $headerUserOutput {
  @import "header/header-user";
}

// appSwitcher
@if $appSwitcherOutput {
  @import "header/app-switcher"; 
}