@charset "UTF-8";

// 公用
%layoutAbsolute {
  position: absolute;
  left: 0;
  right: 0;
}

%containerAbsolute {
  @extend %layoutAbsolute;
  top: nth($wrapHeader,1);
  overflow-x: hidden;
  overflow-y: auto;
}

.t-wrapper {
  width: 100%;
}

.t-wrap-header {
  height: nth($wrapHeader,1);
  background-color: nth($wrapHeader,2);
  // 如果绝对定位
  @if $wrapperAbsolute {
    @extend %layoutAbsolute; 
    top: 0;
  }
  // 如果输出图片背景
  @if $wrapHeaderImgBgOutput {
    background: $wrapHeaderImgBgUrl;
    background-size: $wrapHeaderImgBgSize; 
  }
}

// header动态显隐
@if $wrapHeaderDynamic and not $wrapperAbsolute {
  .t-wrap-header {
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    -moz-transition: top 0.3s;
    -webkit-transition: top 0.3s;
  }
  .nav-up {
    top: -(nth($wrapHeader,1));
  }
  .nav-down {}
  .t-wrap-container {
    padding-top: nth($wrapHeader,1);
  }
}

// 自适应宽度
// -----------------------------------------------------
@if $wrapperAutoWidth {
  
  .t-wrap-container {
    // 如果绝对定位
    @if $wrapperAbsolute and $wrapHasFooter {
      @extend %containerAbsolute;
      bottom: nth($wrapFooter,1);
    }
    @if $wrapperAbsolute and not $wrapHasFooter {
      @extend %containerAbsolute;
      bottom: 0;
    }
    background-color: nth($wrapContainerBg,1);
  }

  // 含底部
  @if $wrapHasFooter {
    .t-wrap-footer {
      // 如果绝对定位
      @if $wrapperAbsolute {
        @extend %layoutAbsolute;
        bottom: 0;
      }
      height: nth($wrapFooter,1);
      background-color: nth($wrapFooter,2);
    }
  }@else {
    .t-wrap-footer {
      @include hidden;
    }
  }

}

// 固定宽度
// -----------------------------------------------------
@if not $wrapperAutoWidth {

  .t-wrap-container {
    // 如果绝对定位
    @if $wrapperAbsolute and $wrapHasFooter {
      @extend %containerAbsolute;
      bottom: nth($wrapFooter,1);
    }
    @if $wrapperAbsolute and not $wrapHasFooter {
      @extend %containerAbsolute;
      bottom: 0;
    }
    background-color: nth($wrapContainerBg,1);
  }

  // 含底部
  @if $wrapHasFooter {
    .t-wrap-footer {
      // 如果绝对定位
      @if $wrapperAbsolute {
        @extend %layoutAbsolute;
        bottom: 0;
      }
      height: nth($wrapFooter,1);
      background-color: nth($wrapFooter,2);
    }
  }@else {
    .t-wrap-footer {
      @include hidden;
    }
  }

  #t-header, #t-container, #t-footer {
    width: $wrapInnerWidth;
    @include center-block;
  }

  #t-container {
    background-color: nth($wrapContainerBg,2);
  }

}